{
  "enabledPlugins": {
    "frontend-design@claude-code-plugins": true
  },
  "model": "opus",
  "env": {
    "ANTHROPIC_AUTH_TOKEN": "YOUR_GLM_TOKEN_HERE",
    "ANTHROPIC_BASE_URL": "https://api.z.ai/api/anthropic",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "glm-4.7",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "glm-4.7",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "glm-4.5-air",
    "API_TIMEOUT_MS": "3000000"
  }
}
